<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    <!-- Anything you want -->
  </div>
  <!-- Default to the left -->
 <strong>B-Shop: Website thương mại điện tử sử dụng công nghệ Blockchain.</strong>
</footer>
