<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title><%= title %> | Trang Admin</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/dashboard/resource/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dashboard/resource/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="/dashboard/resource/plugins/google -font-source-sans-pro/css.css" rel="stylesheet">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="icon" href="\dashboard\resource\dist\img\AdminLTELogo.png" type="image/x-icon">
  <link rel="shortcut icon" href="\dashboard\resource\dist\img\AdminLTELogo.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="\dashboard\resource\dist\img\AdminLTELogo.png">
</head>