<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>
	
	<%- include('body-header') %>
	
	<section id="form"><!--form-->
		<div class="container" style="margin-bottom: 150px;">
			<div class="row align-items-center">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form" id="login_container">
						<h2>QUÊN MẬT KHẨU</h2>
						<form action="/code-forgot" method="POST" onsubmit="validateForm();">
							<div class="form-group">
								<input class="form-control" type="text" id = 'email' name='email' placeholder="Nhập email">
							</div>
							<td>
								<button type="submit" class="btn btn-default">Gửi</button>
							</td>
						</form>
					</div>
				</div>
			</div><!--/sign up form-->
		</div>
	</section><!--/form-->
	
	<%- include('footer') %> 

	<script>
		function validateForm() {
			const email = document.getElementById("email").value;
			if (!email) {
				alert("Phần Email không được để trống!")
				event.preventDefault(); 
				return false;
			}
				
			let checkExist;
			$.ajax({
				url: `/login/check-exist?email=${email}`,
				type:'GET',
				async: false,
				success: function (response) {
					checkExist = response;
				}
			})

			if (checkExist === "Ok") {
				alert("Email chưa được đăng ký!!")
				event.preventDefault(); 
				return false;
			}

			return true;
		}
	</script>
	
</body>
</html>